<label class="col-sm-3 control-label" for="vehicle_brand" >Марка:</label>
<div class="col-sm-4">
    <%= f.select :brand_id, options_for_select(@brands.collect {|brand| [brand.name, brand.id]},1), {:include_blank => "Выберите марку..."}, { class: "form-control input-sm", type: "text"} %>
</div>

<div style="display: none;" id="model" class="form-group">
    <label class="col-sm-3 control-label" for="car_model" >Модель:</label>
    <div class="col-sm-4">
        <%= f.select :model_id, options_for_select('test1', 'test2'), {:include_blank => "Выберите модель..."}, { class: "form-control input-sm"} %>
    </div>
</div>
