<tr>
    <td class="text-primary">
        Тип техники
    </td>
    <td>
        <%= @vehicle.vehicle_type %>
    </td>
</tr>

<tr>
    <td class="text-primary">
        Наработка (часов) 
    </td>
    <td>
        <%= @vehicle.h_of_use %>
    </td>
</tr>